.header {
    margin-top: 40rem;
    margin-bottom: 54rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
        flex-direction: column;
        gap: 30px;
    }
    @include mobile-xs {
        gap: 7px;
    }

    &__main-link {
        a {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 24px;
            color: #262626;
        }
    }

    &__links {
        display: inline-flex;
        gap: 24rem;

        @include mobile-xs {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        a {
            font-family: var(--ff);
            font-weight: 400;
            font-size: 16px;
            color: #000;
            @include mobile-xs {
                font-size: 12px;;
            }
        }
    }

    &__search {
        background: #000;
        border-radius: 50px;
        padding: 5rem 10rem 5rem 18rem;
        max-width: 278px;
        display: flex;
        align-items: center;
        max-height: 43px;
        gap: 10px;
        @include tablet {
            width: 550px;
            max-width: 550px;
            justify-content: space-between;
        }
        @include mobile {
            max-width: 278px;
        }
    }
}
.header {

    &__links-links {
    }
}


.header__search-input {
    background: #000;
    border: 0;
    color: white;

}
.header__search-button {
    background: #000;
}