.services {
    margin-top: 111px;
    h2 {
        font-family: var(--ff);
        font-weight: 700;
        font-size: 48px;
        color: #262626;
        text-align: center;
        margin-bottom: 70px;
    }
    &__desc {
        max-width: 837px;
        font-family: var(--ff);
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #262626;
        text-align: center;
        margin-inline: auto;
        margin-bottom: 123px;
        
    }

    &__info {
        display: flex;
        gap: 30px;
        @include tablet {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__info-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: #f9f1fe;
        border-radius: 15px;
        padding: 46px 26px;

        transition: 0.2s all ease-in-out;

        &:hover {
            color: #fff;
            background: #8842f0;
            transform: scale(1.02);
        }
        &:hover p {
            color: #fff;
        }
        &:hover a {
            color: #fff;
        }
        &:hover .arrow {
            color: #fff;
        }
    }

    &__info-block-title {
        font-family: var(--ff);
        font-weight: 600;
        font-size: 24px;
        color: #262626;

        margin-top: 27px;
        margin-bottom: 17px;
        transition: 0.2s all ease-in-out;
    }

    &__info-block-desc {
        font-family: var(--ff);
        font-weight: 400;
        font-size: 16px;
        color: #575757;
        text-align: center;

        margin-bottom: 17px;

        transition: 0.2s all ease-in-out;
    }
    a {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #8842f0;

        transition: 0.2s all ease-in-out;
    }
}


//.services__link::after {
//    content: url("img/arrow.svg");
//}

.arrow {
    margin-left: 6px;
    //transition: 0.2s all ease-in-out;
}